<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Django CRUD{% endblock %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <header class="bg-primary text-white p-3 mb-4">
        <div class="container">
            <h1 class="h2">Bienvenido a Django CRUD</h1>
            <nav>
                <a class="btn btn-light" href="{% url 'producto_list' %}">Productos</a>
            </nav>
        </div>
    </header>
    <main class="container">
        {% block content %}
        {% endblock %}
    </main>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
